* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #c0392b, #16a085, #2980b9);
}
.wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg);
}
.cube2 {
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg) translate(200px,200px);
}
.cube3 {
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg) translate(200px,-200px);
}
.cube .side {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px;
  background-color: #ffffffd9;
  transition: transform .8s ease;
}
.cube .cube-front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube .cube-back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube .cube-left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube .cube-right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube .cube-top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube .cube-bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.cube .cube-right:hover {
  transform: rotateY(0deg) translateZ(100px) translate(200px,0px);
}
.cube .cube-top:hover {
  transform: rotateX(0deg) translateZ(100px) translate(0px,-200px);
}