/* B站：@VincentTV */
/* Share with you */
/* 主页：https://space.bilibili.com/402141442 */
/* 本视频：https://www.bilibili.com/video/av49517141 */
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #bdc3c7;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrap {
  width: 300px;
  height: 500px;
  position: relative;
}
.wrap h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./bg.jpg);
  background-size: cover;
  backface-visibility: hidden;
  box-shadow: 0 0 10px #2c3e50;
  transition: .8s;
}
.front {
  transform: perspective(900px) rotateY(0deg);
}
.back {
  transform: perspective(900px) rotateY(180deg);
}
.back .contact-info a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #2c3e50;
  border-radius: 50%;
}
.back .contact-info a:hover {
  color: white;
  background-color: #2c3e50;
}
.wrap:hover .front {
  transform: perspective(900px) rotateY(-180deg);
}
.wrap:hover .back {
  transform: perspective(900px) rotateY(00deg);
}